h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(34, 58, 58);
  margin-top: 3%;
  margin-bottom: 4%;
  font-size: 200%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
   
ul {
  padding: 0;
  list-style-type: none;
  padding-right: 12%;
}
   
li {
  list-style: none;
  display: inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(34, 58, 58);

}

a {
  text-decoration: none;
  padding-right: 68px;
  padding-left: 68px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 130%;
  background-color: rgb(197, 197, 219);
  border: 1px;
  border-color: blueviolet;
  margin-left: 0%;
  margin-right: 0%;
  outline-style: solid;
  outline-color: rgb(49, 73, 119);
  outline-width: thin;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(34, 58, 58);
  display: centre;
}
         
a:hover {
  color: gray;
}
   
.tab {
  display: none;
}
   
.tab.active {
  display: block;
}


/* Acordeonul */

.accordion-toggle {
  font-size: 130%;
  cursor: pointer;
  background-color: lavender;
  border: 1px;
  border-color: blueviolet;
  margin-right: 0%;
  margin-left: 0%;
  padding: 1%;
  outline-style: solid;
  outline-color: rgb(49, 73, 119);
  outline-width: thin;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(34, 58, 58);
}

.accordion-toggle:hover{
  background-color: rgb(212, 212, 235);
}

.accordion-content {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: darkslategray;
  margin-left: 17%;
  margin-right: 17%;
  font-size: 100%;
}

.accordion-content.default {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: darkslategray;
  margin-left: 17%;
  margin-right: 17%;
  font-size: 110%;
}

#accordion {
  margin-top: 5%;
  background-color: antiquewhite;
}

#tab-content {
  background-color: antiquewhite;
}

